@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);/*font-family: 'Montserrat', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic,700,400);/*font-family: 'Droid Serif', serif;*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);/*font-family: 'Roboto Slab', serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
}
li {
    list-style: none;
}
/**************************************************************************************/
@media (min-width: 1200px){
    .container {
        width: 970px;
    }
}
body {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #777777;
    position: relative;
    overflow-x: hidden;
}
body > a {
    width: 1px;
    display: block;
}
section {
    padding: 120px 0;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    color: #000000;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 20px 0;
    color: #000000;
}

/*Header*/
header {
    margin-top: 50px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
}
.menu {
    float: right;
}
.menu ul li {
    display: inline-block;
}
.menu ul li.active > a {
    color: #fed136;
    text-decoration: underline;
}
.menu ul li a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 0 20px;
    color: #ffffff;
    transition: all 0.2s linear;
}
.menu ul li a:hover {
    text-decoration: none;
    color: #fed136;
    background: none;
}
.menu ul li a:focus {
    background: none;
}
.navbar-toggle {
    border: 1px solid #fed136;
    margin-top: -4px;
}
.navbar-toggle .icon-bar {
    background: #fed136;
}
/*Header end*/

/*Section-1*/
#section-1 {
    min-height: 700px;
}
.main-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#section-1 .container, #section-1 .row, #section-1 .section-1 {
    height: 100%;
}
#section-1 .section-1 > div {
    display: inline-block;
    vertical-align: middle;
}
.section-1-text {
    width: 98%;
}
.section-1-text + div {
    height: 100%;
    width: 1px;
}
.section-1-text p{
    font-family: 'Droid Serif', serif;
    font-size: 40px;
    color: #ffffff;
    font-style: italic;
}
.section-1-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    margin: 50px 0 60px 0;
}
.section-1-text a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    background: #fed136;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    padding: 25px 50px;
    border: 1px solid #fed136;
    transition: all 0.2s linear;
}
.section-1-text a:hover {
    background: none;
    text-decoration: none;
}
/*Section-1 end*/

/*Section-2*/
#section-2 {
    background: #ffffff;
}
.description-section {
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    font-style: italic;
    margin: 0 0 80px 0;
}
.for-ico {
    margin-bottom: 25px;
}
/*Section-2 end*/

/*Section-3*/
#section-3 {
    background: #f7f7f7;
    padding: 120px 0 70px 0;
}
.portfolio-wrap {
    font-size: 0;
}
.portfolio {
    width: 290px;
    height: 394px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
    margin-bottom: 50px;
    font-size: 16px;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.portfolio-div {
    background: #ffffff;
}
.portfolio:hover {
    transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
}
.portfolio:nth-child(3n+1){
    margin-left: 0;
}
.portfolio-image {
    width: 100%;
    height: 300px;
}
.portfolio-image a {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.3s linear;
    position: relative;
}
.portfolio-image a > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.3s linear;
}
.portfolio-image a:hover {
    background: rgba(0,0,0,0.7);
}
.portfolio-image a:hover > p {
    opacity: 1;
}
.portfolio-description {
    height: 94px;
    font-size: 0;
}
.portfolio-description-text + div {
    height: 100%;
}
.portfolio-description-text {
    width: 99%;
}
.portfolio-description > div {
    display: inline-block;
    vertical-align: middle;
}
.portfolio-description p {
    font-size: 14px;
    font-style: italic;
    font-family: 'Droid Serif', serif;
    margin-bottom: 0;
}
.portfolio-description h4 {
    margin-bottom: 0;
}
/*Section-3 end*/

/*Section-4*/
#section-4 {
    background: #ffffff;
}
.relative {
    position: relative;
    z-index: 1;
}
.about-us-div {
    width: 36%;
}
.about-us-div h4:first-child{
    text-transform: uppercase;
    margin-bottom: 10px;
}
.relative:nth-child(2n+1) .about-us-div{
    float: left;
    text-align: right;
}
.relative:nth-child(2n) .about-us-div{
    float: right;
    text-align: left;
}
.about-us-image-wrap {
    background: #f1f1f1;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    width: 182px;
    height: 182px;
    position: relative;
    margin: 0 auto 93px;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}
.about-us-image {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    width: 168px;
    height: 168px;
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    margin: auto;
}
#next-about-us {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    background: #fed136;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}
.about-us-image-wrap:hover{
    box-shadow: 0 0 12px #6f6c65;
}
#next-about-us:hover{
    background: #fed835;
}
#next-about-us:active{
    background: #fed136;
}
.vertical-line {
    position: absolute;
    width: 2px;
    background: #f1f1f1;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}
#next-about-us-wrap {
    margin-bottom: 0;
}
/*Section-4 end*/

/*Section-5*/
#section-5 {
    background: #f7f7f7;
}
.member-of-team {
    width: 310px;
    display: inline-block;
}
.member-photo {
    width: 220px;
    height: 220px;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    margin: 0 auto;
}
.member-photo-wrap {
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.member-photo-wrap:hover{
    box-shadow: 0 0 15px #858585;
    transform: scale(1.05);
}
.member-name {
    margin-top: 25px;
}
.member-name p:first-child {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    margin-bottom: 0;
}
.member-name p:last-child {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}
.member-social > a {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    background: url("../images/social-ico.jpg") no-repeat;
    margin: 0 5px;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.member-social > a.facebook-ico {
    background-position: -50px 0;
}
.member-social > a.pinterest-ico {
    background-position: -100px 0;
}
.member-social > a.google-ico {
    background-position: -150px 0;
}
.member-social > a.tweeter-ico:hover {
    background-position: 0 -51px;
}
.member-social > a.facebook-ico:hover {
    background-position: -50px -51px;
}
.member-social > a.pinterest-ico:hover {
    background-position: -100px -51px;
}
.member-social > a.google-ico:hover {
    background-position: -150px -51px;
}
.member-of-team {
    margin-bottom: 50px;
}
.our-team-description p {
    display: inline-block;
    width: 70%;
    font-size: 16px;
}
/*Section-5 end*/

/*Section-6*/
#section-6 {
    padding: 10px 0 60px;
    background: #ffffff;
}
.logos{
    margin-top: 50px;
}
/*Section-6 end*/

/*Section-7*/
#section-7 {
    background: #222222 url('../images/map.png') no-repeat right center;
}
#section-7 h2 {
    color: #ffffff;
}
#contact-us input, #contact-us textarea {
    width: 100%;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
    text-transform: uppercase;
}
#contact-us input:first-child {
    margin-top: 0;
}
#contact-us textarea {
    resize: none;
    margin-top: 0;
    height: 252px;
    display: block;
}
#contact-us button[type=submit] {
    font-family: 'Montserrat', sans-serif;
    background: #fed136;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    padding: 25px 50px;
    border: 1px solid #fed136;
    transition: all 0.2s linear;
    margin-top: 50px;
}
#contact-us button[type=submit]:hover {
    background: none;
}
/*Section-7 end*/

/*Footer*/
footer {
    padding: 30px 0;
    background: #ffffff;
}
.copyright {
    margin-top: 10px;
}
footer .member-social {
    float: right;
}
/*Footer end*/

/*Media*/
@media screen and (max-width: 991px){
    .portfolio{margin: 0 17px 50px!important;}
    #section-7 textarea,#contact-us button[type=submit]{margin-top: 30px;}
}
@media screen and (max-width: 767px){
    .menu{float: none;}
    .logo{position: absolute;}
    .menu ul li{display: list-item;text-align: center;padding: 5px 0;}
    header{padding: 20px 0 0!important;}
    .section-1-text h1{font-size: 40px;margin: 20px 0 30px 0;}
    .section-1-text p{font-size: 33px;}
    .about-us-div{float: none!important;text-align: center!important;width: 100%;background: #ffffff;padding: 5px 10px;}
    .our-team-description p{width: 100%}
    .member-social{float: none;text-align: center;}
    .copyright{text-align: center;margin-bottom: 25px;}
}
@media screen and (max-width: 600px){
    .portfolio{margin: 0 0 50px!important;}
    .member-of-team{width: 290px;}
}



















